<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinochem.fintech.mapper.TOrderItemMapper" >
  <resultMap id="BaseResultMap" type="com.sinochem.fintech.entity.TOrderItem" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="order_item_id" property="orderItemId" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
</mapper>